.conteudo__adicionar {
    border: 1px solid var(--azul-claro);
    cursor: pointer;
    border-radius: 5px;
    margin-top: .5rem;
    padding: .55rem 1rem;
    font-size: 0.7rem;
    font-weight: bold;
    background-color: var(--azul-claro);
    color: #000;
    transition: 200ms;
}

.conteudo__adicionar:hover, 
.conteudo__adicionar:focus {
    border: 1px solid var(--bege-medio);
    background-color: var(--bege-medio);
}

.conteudo__adicionar:active {
    border: 1px solid var(--bege);
    background-color: var(--bege);
}