.cabecalho {
    height: 90px;
    background-color: var(--azul-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.cabecalho__bloco {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.cabecalho__logo {
    width: 17%;
    background-color: transparent;
}

.cabecalho__input {
    border: 1px solid var(--branco);
    width: 25rem;
    border-radius: 10px 0 0 10px;
    font-size: 1.2rem;
    padding: .3rem .2rem;
    background-color: var(--branco);
}

.cabecalho__lupa {
    border-radius: 0 10px 10px 0;
    padding: .55rem 1rem;
    border: 1px solid var(--bege);
    color: var(--azul-medio);
    cursor: pointer;
    background-color: var(--bege);
    font-weight: bold;
}

.cabecalho__nome {
    font-size: 1.2rem;
    color: var(--azul-medio);
    background-color: transparent;
}

.icon {
    background-color: transparent;
}

.cabecalho__carrinho--ecommerce {
    border-radius: 10px;
    padding: .5rem 1rem;
    border: 2px solid var(--bege);
    color: var(--azul-medio);
    margin-left: 2rem;
    cursor: pointer;
}