* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f7f4f4;
}

:root {
  --branco--fundo: #f7f4f4;
  --branco: #ffffff;
  --cinza: #CCCCCC;
  --preto: #e0e0;
  --primaria: #B6E2E0;
  --secundaria: #E9DAC1;
  --terciaria: #18978F;
  --quartenaria: dimgray;

}

.fundo {
  background-color: transparent;
}
