* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f7f4f4;
}

:root {
  --branco--fundo: #f7f4f4;
  --branco: #ffffff;
  --cinza-claro: #CCCCCC;
  --preto: #e0e0;
  --azul-claro: #B6E2E0;
  --azul-medio: #18978F;
  --bege: #E9DAC1;
  --bege-medio: #CFAD77;
  --cinza-medio: dimgray;
}

